# Node / Angular
node_modules/
dist/

# Java / Spring Boot
target/
*.log

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
